<app-header></app-header>

<p-menubar class="categ-p-menu">
  <ng-template pTemplate="start">
    <div class="menu-header-container">
      <div class="menu-header-container-item" (click)="handleEventCategory(ctg)" *ngFor="let ctg of categories">
        <p>{{ctg}}</p>
        <div class="selected-ctg" *ngIf="ctg === category"></div>
      </div>
    </div>
  </ng-template>
</p-menubar>

<div class="products-container" *ngIf="!loading">
  <p-card [style]="{width: '20rem'}" styleClass="p-card-shadow" *ngFor="let product of products;let i = index"
    cardHover>
    <ng-template pTemplate="header">
      <div style="display:flex; justify-content: center;">
        <img alt="Card" [src]="product['image']" [style]="{width: '15rem', height:'12rem'}">
      </div>
    </ng-template>
    <p>{{product['name'] | titlecase}}
    </p>
    <ng-template pTemplate="footer">
      <div class="products-header">
        <p>{{product['price'] | number:'1.2-2'}} TL</p>
        <button class="products-header-btn" (click)="addproduct(product)" *ngIf="product['quantity'] == 0">
          <i class="pi pi-plus"></i>
        </button>
        <div *ngIf="product['quantity'] !== 0" class="products-header-group-btn">
          <button class="products-header-group-btns-left" (click)="removeProductFromCart(product)"
            *ngIf="product['quantity'] ==  1">
            <i style="color:#ff7f00" class="pi pi-trash"></i>
          </button>
          <button class="products-header-group-btns-left" (click)="removeProductFromCart(product)"
            *ngIf="product['quantity'] !== 1">
            <i style="color:#ff7f00" class="pi pi-minus"></i>
          </button>
          <p class="products-header-quantity">{{product['quantity']}}</p>
          <button class="products-header-group-btns-right" (click)="addproduct(product)">
            <i style="color:#ff7f00" class="pi pi-plus"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>

<div style="display:flex; justify-content:center; align-items:center;height:30vh;" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>